[submodule "/Users/stefano/Documents/SW/gymcentral/gaebasepy"]
	path = /Users/stefano/Documents/SW/gymcentral/gaebasepy
	url = /Users/stefano/Documents/SW/gymcentral/gaebasepy
[submodule "gaebasepy"]
	path = gaebasepy
	url = https://esseti@github.com/esseti/gaebasepy.git
